locator-card-link {
  display: block;
  height: 100%;

  a {
    align-items: stretch;
    border: solid 1px var(--color-border);
    border-radius: var(--evg-border-radius);
    color: var(--color-body);
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;

    transition:
      color var(--evg-transition),
      border-color var(--evg-transition);

    &:hover {
      border-color: var(--evg-theme-color-hover);
      color: var(--evg-theme-color-hover);

      img {
        transform: scale(1.02); /* Very slight zoom effect on hover */
      }
    }

    locator-card-link-img {
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        transition: var(--evg-transition);
        width: 100%;
      }
    }

    locator-card-link-content {
      padding: var(--evg-spacing-sm);
      width: 100%;
    }
  }
}

@container (width >= 768px) {
  locator-card-link {
    width: 100%;

    a {
      flex-direction: row;

      locator-card-link-img {
        flex: 0 0 30%;

        img {
          min-height: 100%;
        }
      }

      locator-card-link-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
