locator-header-title {
  align-items: center;
  display: grid;
  gap: var(--evg-spacing-sm);
  grid-template-areas: 'button title';
  grid-template-columns: auto 1fr;

  > * {
    grid-area: title;
  }

  > div {
    overflow: hidden;
  }

  evg-button {
    grid-area: button;
    --evg-button-border-radius: 50%;
    --evg-button-padding-block: var(--evg-spacing-sm);
    --evg-button-padding-inline: var(--evg-spacing-sm);
  }

  h2,
  p {
    margin-block-end: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h2 {
    font-size: var(--evg-font-size-body-md);
    font-weight: var(--evg-font-weight-bold);
  }

  p {
    font-size: var(--evg-font-size-body-xs);
  }
}
