/**
  * Conditional header layout for the places view which includes a search
  * filter that moves into the header on large screen
  */
locator-places-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  locator-header-title {
    flex: 1 1 auto;
    padding: var(--evg-spacing-sm) var(--evg-spacing);
  }

  locator-places-header-search {
    border-top: var(--evg-border);
    display: inline-flex;
    padding: var(--evg-spacing-sm) var(--evg-spacing);
    width: 100%;
  }

  locator-places-header-search > a {
    align-items: center;
    color: var(--evg-theme-color-muted);
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: calc(var(--evg-spacing-sm) * -1) calc(var(--evg-spacing) * -1);
    padding: var(--evg-spacing-sm) var(--evg-spacing);
    text-decoration: none;
    transition: color var(--evg-transition);

    locator-icon {
      margin-inline-start: auto;
    }
  }

  @media (hover: hover) {
    locator-places-header-search > a:hover {
      color: var(--evg-theme-color-hover);
    }
  }

  @container (width > 768px) {
    locator-places-header-search {
      border: var(--evg-border);
      border-radius: var(--evg-border-radius);
      margin-inline-end: var(--evg-spacing);
      width: auto;
      width: 18em;
    }
  }
}
