locator-alphabet-nav {
  --_letter-size: 2em;
  display: block;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.21em; /* specific gap to avoid half a letter short line end */
    list-style: none;
    margin: 0;
    padding: 0;
  }

  evg-button {
    --evg-button-padding-block: 0;
    --evg-button-padding-inline: 0;
    --evg-button-color-disabled: var(--color-grey);
    --evg-button-border-color-disabled: var(--color-grey);
  }

  evg-button a {
    height: var(--_letter-size);
    text-align: center;
    width: var(--_letter-size);
  }
}
