locator-steps {
  --evg-theme-background: var(--color-primary-lightest);
  --evg-theme-color: var(--color-body);
  --evg-theme-heading-color: var(--color-primary-dark);

  ol {
    counter-reset: step-counter;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background-color: var(--evg-theme-background);
      border-radius: var(--evg-border-radius);
      counter-increment: step-counter;
      margin-bottom: var(--evg-spacing-sm);
      padding: var(--evg-font-size-default) var(--evg-spacing-md)
        var(--evg-font-size-default) calc(3 * var(--evg-font-size-body-lg)); /* font-size used to account for font size of step number */
      position: relative;

      &::before {
        align-items: center;
        background-color: var(--evg-theme-heading-color);
        border-radius: 50%;
        color: var(--color-white);
        content: counter(step-counter);
        display: flex;
        font-size: var(--evg-font-size-body-lg);
        font-weight: bold;
        height: var(
          --evg-font-size-body-xl
        ); /* circle size depends on font size */
        justify-content: center;
        left: var(--evg-spacing-sm);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: var(--evg-font-size-body-xl);
      }
    }
  }
}
