locator-hero {
  --_background: var(--diamond-theme-background-muted);
  --_color: var(--diamond-theme-color-muted);
  --_icon-color: var(--color-primary);
  --diamond-theme-heading-color: var(--_color);
  --diamond-theme-color: var(--_color);
  background: var(--_background);
  color: var(--_color);
  display: block;
  padding-block: var(--diamond-spacing);

  &[size='full'] {
    margin-bottom: calc(var(--diamond-spacing) * -1);
    padding-block: var(--diamond-spacing-lg);
    text-align: center;

    locator-icon {
      /* Giant icon just for the hero */
      font-size: var(--diamond-font-size-xxxl);
      margin-block-end: var(--diamond-spacing-xs);
    }
  }

  /* small tablet */
  @container (width >= 600px) {
    min-width: 20em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: var(--diamond-font-weight-bold);
    margin-block-end: 0;
  }

  locator-icon {
    color: var(--_icon-color);
  }

  &[variant='positive'] {
    --_icon-color: var(--color-white);
    --_color: var(--theme-color-positive);
    --_background: var(--theme-background-positive);

    &[size='reduced'] {
      --_color: var(--color-white);
      --_background: var(--theme-background-positive-dark);
    }
  }

  &[variant='negative'] {
    --_icon-color: var(--color-white);
    --_color: var(--theme-color-negative);
    --_background: var(--theme-background-negative);

    &[size='reduced'] {
      --_color: var(--color-white);
      --_background: var(--theme-background-negative-dark);
    }
  }

  &[variant='hazardous'] {
    --_icon-color: var(--color-black);
    --_color: var(--color-black);
    --_background: var(--color-yellow);

    &[size='reduced'] {
      --_background: var(--color-yellow-dark);
    }
  }
}
