locator-bordered-list {
  --_item-padding: var(--evg-spacing);
  display: block;

  > h2,
  > h3,
  > h4 {
    font-size: var(--evg-font-size-body-xs);
    font-weight: var(--evg-font-weight-bold);
  }

  > nav > ul,
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > nav > ul,
  > ul,
  > dl {
    margin: 0;
    padding: 0;
  }

  > nav > ul > li,
  > ul > li,
  > dl > div {
    border-top: var(--evg-border);
    padding-block: var(--_item-padding);
  }

  > dl > div > dt {
    font-weight: var(--evg-font-weight-bold);
  }

  > dl > div > dd {
    margin: 0;
  }

  > nav > ul > li a,
  > ul > li a,
  > dl > div > dd a {
    display: inline-flex;
    margin-block: calc(var(--_item-padding) * -1);
    padding-block: var(--_item-padding);
  }

  a {
    color: var(--color-green-dark);
    text-decoration: underline;
  }

  &[size='sm'] {
    --_item-padding: var(--evg-spacing-sm);
  }
}
