locator-category-card {
  display: block;
  height: 100%;
  position: relative;

  a {
    align-items: stretch;
    border: solid 1px var(--color-border);
    border-radius: var(--evg-border-radius);
    color: var(--color-body);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    text-decoration: none;

    transition:
      color var(--evg-transition),
      border-color var(--evg-transition);

    img {
      transition: transform var(--evg-transition);
    }

    evg-chip {
      bottom: var(--evg-spacing-sm);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    &:hover {
      border-color: var(--evg-theme-color-hover);
      color: var(--evg-theme-color-hover);

      img {
        transform: scale(1.02); /* Very slight zoom effect on hover */
      }
    }
  }
}
