locator-fab {
  bottom: var(--evg-spacing);
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: var(--layer-one);

  evg-button {
    --evg-button-padding-block: var(--evg-spacing-xs);
    --evg-spacing-thumb: 3em; /* convert diamond thumb to em */
    box-shadow: var(--evg-shadow);
    pointer-events: auto;
  }

  &[position='top'] {
    bottom: unset;
    top: var(--evg-spacing);
  }

  &[sticky] {
    position: fixed;
  }

  @container (width >= 768px) {
    evg-button {
      --evg-button-padding-block: var(--evg-spacing-sm);
    }
  }
}
