/* stylelint-disable selector-pseudo-element-no-unknown */
locator-overflow {
  --margin-inline-padding: var(--evg-spacing);
  /* svgs in css directly to prevent public path issues */
  --back-arrow-url: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.825 13L13.425 18.6L12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825Z" fill="currentColor"/></svg>');
  --forward-arrow-url: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z" fill="currentColor"/></svg>');
  display: block;
  margin-inline: calc(
    -1 * var(--margin-inline-padding)
  ); /* overlap wrapper to create gutterless effect */

  ul {
    align-items: center;
    anchor-name: var(--anchor-name);
    display: flex;
    flex-direction: row;
    gap: var(--evg-spacing);
    margin: 0;
    overflow-x: auto;
    overflow-y: clip;
    overscroll-behavior-x: contain;
    padding-left: 0;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* stylelint-disable-next-line order/properties-alphabetical-order */
    -ms-overflow-style: none;
    /* IE and Edge */
    /* stylelint-disable-next-line property-no-unknown */
    scrollbar-height: none;
    scrollbar-width: none;
    /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &::scroll-button(*) {
      align-items: center;
      background: none;
      border: 0;
      border-radius: var(--evg-border-radius);
      bottom: calc(anchor(top) + var(--evg-spacing-xs));
      color: var(--color-primary-dark);
      cursor: pointer;
      display: flex;
      font-size: var(--font-size-base);
      font-weight: var(--evg-font-weight-bold);
      height: var(--evg-spacing-lg);
      justify-content: center;
      line-height: 0.8;
      position: absolute;
      /* stylelint-disable-next-line property-no-unknown */
      position-anchor: var(--anchor-name);
      width: var(--evg-spacing-lg);

      &:hover:enabled {
        background: var(--color-grey-lightest);
      }

      &:disabled {
        background: none;
        cursor: inherit;
        opacity: 0.5;
      }
    }

    &::scroll-button(left) {
      content: var(--back-arrow-url) / 'Scroll Left';
      right: calc(
        anchor(right) + var(--margin-inline-padding) + var(--evg-spacing-lg) +
          var(--evg-spacing-xs)
      ); /* position right - gutter - right button width - spacing */
    }

    &::scroll-button(right) {
      content: var(--forward-arrow-url) / 'Scroll Right';
      right: calc(anchor(right) + var(--margin-inline-padding));
    } /* position right - gutter */

    li {
      align-self: stretch;
      list-style-type: none;
      min-width: min(
        85cqw,
        300px
      ); /* prevent cards from being too big on 'medium' screens */
      scroll-snap-align: center;

      &:first-child {
        margin-left: var(--margin-inline-padding);
      }

      &:last-child {
        margin-right: var(--margin-inline-padding);
      }
    }
  }

  &[wrapCards] ul {
    li {
      min-width: fit-content;
    }
  }
}

@container (width >= 768px) {
  locator-overflow {
    &:not([largeScreen]) {
      margin: 0;
      padding-bottom: 0;

      ul {
        flex-direction: column;
        overflow-x: visible;

        &::scroll-button(*) {
          display: none;
        }

        li {
          margin: 0;
          min-width: 100%;
        }
      }
    }

    &[largeScreen] {
      /* stylelint-disable-next-line length-zero-no-unit */
      --margin-inline-padding: 0px; /*without px calcs cause bugs */
    }
  }
}

@container (width >= 1280px) {
  /* In the standalone app compensate for extra wide gutters */
  locator-overflow {
    --margin-inline-padding: calc((25cqw - (var(--wrap-max-width) / 2)));
    margin-inline: calc(-1 * var(--margin-inline-padding));

    &[centerXLarge] {
      margin: 0;
      padding-bottom: 0;

      ul {
        justify-content: center;
        overflow-x: visible;

        &::scroll-button(*) {
          display: none;
        }
      }
    }
  }
}

@supports selector(::scroll-button(*)) {
  locator-overflow {
    &:not([buttonsAbove]) {
      padding-bottom: calc(
        var(--evg-spacing-lg) + var(--evg-spacing)
      ); /* add space for scroll buttons below the overflow container */
    }
  }
}
