locator-wrap {
  display: block;
  margin: 0 auto;
  max-width: var(--wrap-max-width);
  padding-inline: var(--evg-spacing);
  width: 100%;

  &[max-width='none'] {
    max-width: none;
  }

  &[max-width='extra-wide'] {
    max-width: calc(var(--wrap-max-width) * 1.5);
  }

  &[gutter='fluid'] {
    padding-inline: clamp(var(--evg-spacing), 5cqw, var(--evg-spacing-xl));
  }
}
