locator-wrap {
  display: block;
  margin: 0 auto;
  max-width: var(--wrap-max-width);
  padding-inline: var(--evg-spacing);
  width: 100%;

  &[max-width='none'] {
    max-width: none;
  }

  &[gutter='fluid'] {
    padding-inline: clamp(var(--evg-spacing), 5cqw, var(--evg-spacing-xl));
  }

  &[large-screen-only] {
    @container (width < 768px) {
      /* not mobile first to stay DRY */
      max-width: none;
    }
  }
}
