locator-place-summary {
  display: block;
  width: 100%;

  h3,
  h4 {
    font-size: var(--font-size-base);
    font-weight: var(--evg-font-weight-bold);
    margin-block-end: var(--evg-spacing-xs);
  }

  h3,
  h4,
  p {
    margin-block-end: var(--evg-spacing-xs);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p,
  dl {
    font-size: var(--evg-font-size-body-xs);
  }

  p {
    color: var(--evg-theme-color-muted);
  }

  dl,
  dd {
    margin: 0;
  }

  dl {
    display: flex;
    gap: var(--evg-spacing-xs);
  }

  dt {
    font-weight: var(--evg-font-weight-normal);
    position: relative;

    &:not(:last-child) {
      margin-inline-end: var(--evg-spacing-xs);
      padding-inline-end: var(--evg-spacing-sm);

      &::after {
        background: var(--color-grey-light);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }
  }
}
