locator-container {
  --_container-size: 2.5em;
  align-items: center;
  display: grid;
  gap: var(--evg-spacing-sm);
  grid-auto-rows: min-content;
  grid-template-areas: 'svg content';
  grid-template-columns: var(--_container-size) 1fr;

  locator-container-icon {
    display: block;
    grid-area: svg;
    height: var(--_container-size);
    line-height: 1;
    width: var(--_container-size);

    svg {
      aspect-ratio: 1;
    }
  }

  locator-container-name,
  locator-container-content {
    display: block;
  }

  locator-container-content {
    grid-area: content;
  }

  locator-container-name,
  h2,
  h3,
  h4 {
    font-size: var(--evg-font-size-default);
    font-weight: var(--evg-font-weight-base);
    margin-block-end: 0;
  }
}
