locator-details {
  --_details-padding: var(--evg-spacing-sm);
  display: block;

  details {
    border: var(--evg-border);
    border-radius: var(--evg-border-radius);

    > summary {
      appearance: none;
      background: 0 none;
      border: 0 none;
      cursor: pointer;
      display: flex;
      font-weight: var(--evg-font-weight-normal);
      justify-content: space-between;
      padding: var(--_details-padding);
      transition: color var(--evg-transition);

      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        color: var(--evg-theme-color-hover);
      }
    }

    locator-details-summary-content {
      display: block;
      overflow: hidden;
    }

    locator-details-summary-preview {
      color: var(--evg-theme-color-muted);
      display: block;
      font-size: var(--evg-font-size-body-xs);
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &[open] {
      /*
        Padding is on the summary initially to make the clickable area span the whole parent
        It moves to the inner content once details opens to align the content with the summary
      */
      padding: var(--_details-padding);

      > summary {
        margin-block-end: var(--_details-padding);
        padding: 0;
      }

      > summary locator-icon {
        transform: rotate(180deg);
      }

      locator-details-summary-preview {
        display: none;
      }
    }
  }

  &[flush] details {
    --_details-padding: var(--evg-spacing-xs);
    border: 0 none;
  }

  &[menu] details {
    border: 0 none;
    padding: 0;

    > summary {
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: var(--evg-theme-color-muted);
      text-decoration: none;
      transition: color var(--evg-transition);

      locator-icon {
        color: var(--color-grey-light);
        transition: color var(--evg-transition);
      }

      &:hover,
      &:hover locator-icon {
        color: var(--evg-theme-color-hover);
      }
    }
  }
}
