locator-star-rating {
  display: inline-block;
  font-size: var(--evg-font-size-body-xs);
  font-weight: var(--evg-font-weight-bold);

  &::before {
    color: var(--evg-theme-color);
    content: '★★★★★';
    letter-spacing: var(--evg-spacing-xs);
  }

  &[rating='0']::before {
    content: '☆☆☆☆☆';
  }

  &[rating='1']::before {
    content: '★☆☆☆☆';
  }

  &[rating='2']::before {
    content: '★★☆☆☆';
  }

  &[rating='3']::before {
    content: '★★★☆☆';
  }

  &[rating='4']::before {
    content: '★★★★☆';
  }
}
