locator-nav-bar {
  background: var(--evg-theme-background);
  border-bottom: var(--evg-border);
  display: block;
  position: sticky;
  top: var(--header-height);
  z-index: var(--layer-two);

  locator-layout:not(:has([slot='layout-aside'])) & {
    top: 0;
  }

  @container (width > 768px) {
    top: 0;
  }

  ul {
    display: flex;
    gap: var(--evg-spacing-sm);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--evg-theme-color);
    display: flex;
    margin-block-start: var(--evg-spacing-xs);
    padding: var(--evg-spacing-sm);
    text-decoration: none;
    transition:
      border var(--evg-transition),
      color var(--evg-transition);

    &:hover,
    &[aria-current='page'] {
      color: var(--evg-theme-color-hover);
    }

    &:hover {
      border-bottom-color: color-mix(
        in srgb,
        var(--evg-theme-border-color-hover) 40%,
        var(--color-white)
      );
    }

    &[aria-current='page'] {
      border-bottom-color: var(--evg-theme-border-color-hover);
    }
  }
}
