locator-material-categories-nav {
  --_materials-border: 1px solid var(--color-grey-lightest);

  display: block;
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    max-height: calc(
      var(--container-height) - (var(--header-height) * 2 - var(--evg-spacing))
    );
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: var(--evg-spacing-lg)
      clamp(var(--evg-spacing), 5cqw, var(--evg-spacing-xl));
  }

  button {
    align-items: center;
    background: none;
    border: 0 none;
    border-radius: var(--evg-border-radius);
    color: var(--evg-theme-color);
    column-gap: var(--evg-spacing-sm);
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    margin-inline: calc(var(--evg-spacing-sm) * -1);
    padding: var(--evg-spacing-sm);
    transition:
      color var(--evg-transition),
      background var(--evg-transition),
      opacity var(--evg-transition),
      visibility linear 0s;
    width: 100%;
  }

  a {
    border-top: var(--_materials-border);
    color: inherit;
    display: block;
    padding-block: var(--evg-spacing-sm);
    text-decoration: none;
    transition: color var(--evg-transition);
  }

  @media (hover: hover) {
    button:hover,
    a:hover {
      color: var(--evg-theme-color-hover);
    }
  }

  .material-categories-nav__categories {
    li[data-active='true'] > button {
      background: var(--color-primary-lightest);
    }

    &.material-categories-nav__categories--has-active > li > button {
      opacity: 0;
      transition:
        opacity var(--evg-transition),
        visibility var(--evg-transition) var(--evg-transition-duration);
      visibility: hidden;
    }
  }

  .material-categories-nav__materials {
    background: var(--evg-theme-background);
    left: 100cqw;
    min-width: 100%;
    opacity: 0;
    padding-block-start: 0;
    position: absolute;
    top: 0;
    transition:
      left var(--evg-transition),
      opacity var(--evg-transition),
      visibility var(--evg-transition) var(--evg-transition-duration);
    visibility: hidden;
    z-index: var(--layer-one);

    li:first-child {
      background: var(--evg-theme-background);
      border-bottom: var(--evg-border);
      margin-block-end: var(--evg-spacing-sm);
      padding: var(--evg-spacing) 0 var(--evg-spacing-sm);
      position: sticky;
      top: 0;

      button {
        justify-content: flex-start;
      }

      + li a {
        border-top: 0 none;
      }
    }

    li:last-child a {
      border-bottom: var(--_materials-border);
    }

    li[data-active='true'] > & {
      left: 0;
      opacity: 1;
      transition:
        left var(--evg-transition),
        opacity var(--evg-transition),
        visibility linear 0s;
      visibility: visible;
    }
  }

  @container (width > 768px) {
    nav {
      display: flex;
    }

    .material-categories-nav__categories,
    .material-categories-nav__materials {
      min-width: 50%;
      padding-block: var(--evg-spacing-xl);
      width: 50%;
    }

    .material-categories-nav__categories {
      border-right: var(--evg-border);

      &.material-categories-nav__categories--has-active > li > button {
        opacity: 1;
        visibility: visible;
      }
    }

    .material-categories-nav__materials,
    li[data-active='true'] .material-categories-nav__materials {
      left: 50%;

      li:first-child {
        display: none;
      }
    }
  }
}
