locator-icon {
  --_size: var(--evg-icon-size);

  dt & {
    --_size: var(--evg-font-size-body-xs);
    vertical-align: middle;
  }

  display: inline-flex;

  svg {
    height: var(--_size);
    width: var(--_size);
  }

  path,
  circle {
    fill: currentColor;
  }

  &[color='primary'] {
    color: var(--color-primary-dark);
  }

  &[color='muted'] {
    color: var(--color-grey-light);
  }

  &[color='positive'] {
    color: var(--theme-background-positive);
  }

  &[color='negative'] {
    color: var(--theme-background-negative);
  }

  &[color='white'] {
    color: var(--color-white);
  }
}
