locator-tip {
  --evg-theme-background: var(--color-primary-lightest);
  --evg-theme-color: var(--color-body);
  --evg-theme-heading-color: var(--color-primary-dark);
  --evg-theme-link-color: var(--color-blue-dark);

  background: var(--evg-theme-background);
  color: var(--evg-theme-color);
  display: grid;
  min-height: 100%;
  padding-block: var(--evg-spacing);
  place-content: center;

  locator-tip-content {
    display: block;
  }

  h2 {
    font-size: var(--evg-font-size-body-lg);
    font-weight: var(--evg-font-weight-bold);
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: min(100%, 15em);
  }

  &[type='image'] {
    img {
      width: min(100%, 20em);
    }
  }

  &[type='promo'] {
    --evg-theme-background: var(--color-green);
    --evg-theme-color: var(--color-body);
    --evg-theme-heading-color: var(--color-body);

    img {
      width: 100%;
    }
  }

  &[text-align='center'] {
    text-align: center;
  }

  &[wrap='wrap'] {
    padding: var(--evg-spacing);
  }

  /* large tablet */
  @container (width >= 1024px) {
    &[wrap='wrap'] {
      border-radius: var(--evg-border-radius);
      grid-template-areas: 'content image';
      grid-template-columns: 66.666% 33.333%;
      margin: 0 0 var(--evg-spacing-xl);
      padding: 0;
      text-align: left;

      img {
        grid-area: image;
        margin: 0;
        max-height: 100%;
        object-fit: cover;
        padding-inline-end: var(--evg-spacing);
        width: 100%;
      }

      locator-tip-content {
        grid-area: content;
        padding: var(--evg-spacing-lg);
      }
    }
  }
}
