@import './evergreen.css';
@import './utils.css';
/* stylelint-disable scss/at-rule-no-unknown */
@import-glob './tokens/*.css';
@import-glob '../components/**/*.css';
/* stylelint-enable scss/at-rule-no-unknown */

:host {
  color: var(--evg-theme-color);
  font-family: var(--evg-font-family);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--evg-font-line-height);
}

article {
  background: var(--evg-theme-background);
  container-type: inline-size;
  font-size: var(--font-size-base);
  overflow-y: auto;
  position: relative;
  transform: scale(1);
}

mark {
  background-color: var(--evg-theme-background);
  color: inherit;
}

.recycling-locator-variant-widget {
  border: var(--container-border);
  border-radius: var(--container-border-radius);
  box-sizing: content-box;
  height: var(--container-height);
  text-align: left;
}

.recycling-locator-variant-standalone {
  --container-height: 100cqh;
  height: 100dvh;
}

.recycling-locator-test-mode {
  /* Stop animations */
  --evg-transition-duration-boing: 0s;
  --evg-transition-duration: 0s;
  --evg-transition-duration-enter: 0s;
  /* Height restriction is removed for snapshots */
  height: auto;
}
