.display-contents {
  display: contents;
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-size-base {
  font-size: var(--font-size-base);
}

.text-color-muted {
  color: var(--evg-theme-color-muted);
}

.text-color-negative {
  color: var(--color-red-dark);
}

.text-color-positive {
  color: var(--color-green-dark);
}

.text-color-white {
  color: var(--color-white);
}

.text-decoration-none {
  text-decoration: none;
}

.layer-one {
  position: relative;
  z-index: var(--layer-one);
}

.scroll-anchor {
  /* Scroll anchors need extra space above for scrollIntoView to be positioned correctly */
  scroll-margin-block-start: var(--evg-spacing-xl);
}

.hidden {
  display: none;
}

@container (width >= 768px) {
  .hidden-tablet {
    display: none;
  }

  .visible-tablet {
    display: inherit;
  }
}
