locator-footer {
  color: var(--evg-theme-color-muted);
  display: block;

  .locator-footer-title {
    align-content: center;
    color: var(--evg-theme-color-muted);
    display: inline-flex;
    font-size: var(--font-size-base);
    font-weight: var(--evg-font-weight-normal);
    gap: var(--evg-spacing-sm);
    margin-block-end: 0;
    width: 100%;

    svg {
      position: relative;
      top: -0.125em; /* negate letter dangle */
    }
  }

  p,
  ul {
    font-size: var(--evg-font-size-body-xs);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li:not(:last-child)::after {
    content: '|';
    margin: 0 var(--evg-spacing-sm);
  }

  a {
    color: var(--evg-theme-color-muted);
    transition: var(--evg-transition);

    &:hover {
      color: var(--evg-theme-color-hover);
    }
  }
}
