evg-button {
  --evg-button-border-radius: 4px;
  --evg-button-font-weight: var(--evg-font-weight-base);
  --evg-button-padding-block: 0.75em;

  --evg-button-background-default: var(--color-white);
  --evg-button-background-hover-default: var(--color-primary-lightest);
  --evg-button-background-disabled-default: var(
    --evg-button-background-default
  );
  --evg-button-border-color-default: var(--color-primary-dark);
  --evg-button-border-color-hover-default: var(--color-primary-dark);
  --evg-button-border-color-disabled-default: var(--color-grey);
  --evg-button-color-default: var(--color-primary-dark);
  --evg-button-color-hover-default: var(--color-primary-dark);
  --evg-button-color-disabled-default: var(--color-grey);

  --evg-button-background-primary: var(--color-primary-dark);
  --evg-button-background-hover-primary: color-mix(
    in srgb,
    var(--color-primary-dark) 85%,
    var(--color-black)
  );
  --evg-button-background-disabled-primary: var(
    --evg-button-background-disabled-default
  );
  --evg-button-border-color-primary: var(--color-primary-dark);
  --evg-button-border-color-hover-primary: color-mix(
    in srgb,
    var(--color-primary-dark) 75%,
    var(--color-black)
  );
  --evg-button-border-color-disabled-primary: var(
    --evg-button-border-color-disabled-default
  );
  --evg-button-color-primary: var(--color-white);
  --evg-button-color-hover-primary: var(--evg-button-color-primary);
  --evg-button-color-disabled-primary: var(--evg-button-color-disabled-default);

  --evg-button-background-hover-ghost: var(--color-primary-lightest);
}

evg-button[variant='primary'] {
  --evg-button-font-weight: var(--evg-font-weight-bold);
}

evg-button[width='square'][size='sm'] {
  --evg-button-padding-block: 0.5em;
}
