:host {
  /**
   * Override Evergreen fonts with system fonts
   * Or a custom font provided by the website embedding the widget
   */
  --font-family-default: Arial, Helvetica, sans-serif;
  --evg-font-family: var(
    --recycling-locator-font-family,
    var(--font-family-default)
  );
  --evg-font-family-heading: var(
    --recycling-locator-font-family,
    var(--font-family-default)
  );

  --evg-icon-size: calc(1em * var(--evg-font-line-height));
  --evg-link-text-decoration: underline;

  --evg-font-size-default: 1em;
  --evg-font-size-heading-xl: 2em;
  --evg-font-size-heading-lg: 1.75em;
  --evg-font-size-heading-md: 1.5em;
  --evg-font-size-heading-sm: 1.25em;
  /* Ignore rem if host site html font-size is set to lower than 14px */
  --font-size-base: max(14px, 0.875rem);
}

@media (width >= 768px) {
  :host {
    --font-size-base: max(14px, 1rem);
  }
}
