:host {
  --evg-theme-background: var(
    --recycling-locator-theme-background,
    var(--color-white)
  );
  --evg-theme-background-muted: var(
    --recycling-locator-theme-background-muted-light,
    var(--color-grey-lightest)
  );
  --evg-theme-heading-color: var(
    --recycling-locator-theme-heading-color-light,
    var(--color-body)
  );
  --evg-theme-color: var(
    --recycling-locator-theme-color-light,
    var(--color-body)
  );
  --evg-theme-color-muted: var(
    --recycling-locator-theme-color-muted-light,
    var(--color-grey-muted)
  );
  --evg-theme-color-hover: var(
    --recycling-locator-theme-color-hover,
    var(--color-primary-dark)
  );
  --evg-theme-border-color: var(
    --recycling-locator-theme-border-color-light,
    var(--color-border)
  );
  --evg-theme-border-color-hover: var(
    --recycling-locator-theme-border-color-hover-light,
    var(--color-primary-dark)
  );
  --evg-theme-link-color: var(
    --recycling-locator-theme-link-color,
    var(--color-primary-dark)
  );

  --theme-background-info-muted: var(--color-blue-lightest);
  --theme-background-info: var(--color-blue-lightest);
  --theme-heading-color-info: var(--color-blue-dark);
  --theme-color-info: var(--color-blue-darkest);
  --theme-link-color-info: var(--color-blue-darkest);

  --theme-background-positive-muted: var(--color-green-light);
  --theme-background-positive: var(--color-green);
  --theme-background-positive-dark: var(--color-green-dark);
  --theme-heading-color-positive: var(--color-grey-dark);
  --theme-color-positive: var(--color-grey-dark);
  --theme-link-color-positive: var(--color-grey-dark);

  --theme-background-negative-muted: var(--color-red-light);
  --theme-background-negative: var(--color-red-dark);
  --theme-background-negative-dark: var(--color-red-dark);
  --theme-heading-color-negative: var(--color-grey-dark);
  --theme-color-negative: var(--color-grey-dark);
  --theme-link-color-negative: var(--color-grey-dark);
}

.theme-preset-green {
  --color-primary-lightest: var(--color-green-lightest);
  --color-primary-light: var(--color-green-light);
  --color-primary: var(--color-green);
  --color-primary-dark: var(--color-green-dark);
}

.theme-preset-red {
  --color-primary-lightest: var(--color-red-lightest);
  --color-primary-light: var(--color-red-light);
  --color-primary: var(--color-red);
  --color-primary-dark: var(--color-red-dark);
}

.theme-preset-blue {
  --color-primary-lightest: var(--color-blue-lightest);
  --color-primary-light: var(--color-blue-light);
  --color-primary: var(--color-blue);
  --color-primary-dark: var(--color-blue-dark);
}

.theme-preset-orange {
  --color-primary-lightest: var(--color-orange-lightest);
  --color-primary-light: var(--color-orange-light);
  --color-primary: var(--color-orange);
  --color-primary-dark: var(--color-orange-dark);
}

.theme-preset-purple {
  --color-primary-lightest: var(--color-purple-lightest);
  --color-primary-light: var(--color-purple-light);
  --color-primary: var(--color-purple);
  --color-primary-dark: var(--color-purple-dark);
}

.theme-preset-brown {
  --color-primary-lightest: var(--color-brown-lightest);
  --color-primary-light: var(--color-brown-light);
  --color-primary: var(--color-brown);
  --color-primary-dark: var(--color-brown-dark);
}

.theme-preset-navy {
  --color-primary-lightest: var(--color-navy-lightest);
  --color-primary-light: var(--color-navy-light);
  --color-primary: var(--color-navy);
  --color-primary-dark: var(--color-navy-dark);
}

.theme-preset-black {
  --color-primary-lightest: var(--color-grey-lightest);
  --color-primary-light: var(--color-grey-light);
  --color-primary: var(--color-grey);
  --color-primary-dark: var(--color-grey-dark);
}

[class*=' theme-preset-'] {
  --evg-theme-color-hover: var(--color-primary-dark);
  --evg-theme-border-color-hover: var(--color-primary-dark);

  evg-input:hover,
  evg-input:focus-within {
    --_border-color: var(--color-primary-dark);
  }
}

.theme-info,
.theme-info-muted {
  --evg-theme-background-muted: var(--theme-background-info-muted);
  --evg-theme-background: var(--theme-background-info);
  --evg-theme-heading-color: var(--theme-heading-color-info);
  --evg-theme-color: var(--theme-color-info);
  --evg-theme-link-color: var(--theme-link-color-info);
}

.theme-info-muted {
  --evg-theme-background: var(--theme-background-info-muted);
}

.theme-positive,
.theme-positive-muted {
  --evg-theme-background-muted: var(--theme-background-positive-muted);
  --evg-theme-background: var(--theme-background-positive);
  --evg-theme-heading-color: var(--theme-heading-color-positive);
  --evg-theme-color: var(--theme-color-positive);
  --evg-theme-link-color: var(--theme-link-color-positive);
}

.theme-positive-muted {
  --evg-theme-background: var(--theme-background-positive-muted);
}

.theme-negative,
.theme-negative-muted {
  --evg-theme-background-muted: var(--theme-background-negative-muted);
  --evg-theme-background: var(--theme-background-negative);
  --evg-theme-heading-color: var(--theme-heading-color-negative);
  --evg-theme-color: var(--theme-color-negative);
  --evg-theme-link-color: var(--theme-link-color-negative);
}

.theme-negative-muted {
  --evg-theme-background: var(--theme-background-negative-muted);
}

/* Themed card border hiding */
.theme-info,
.theme-info-muted,
.theme-positive,
.theme-positive-muted,
.theme-negative,
.theme-negative-muted {
  border: 0 none;

  evg-card {
    border: 0 none;
  }
}
