locator-tag-button {
  --_border-color-hover: var(--color-grey-lighter);

  button {
    align-items: center;
    background: var(--color-grey-lightest);
    border: 1px solid transparent;
    border-radius: var(--evg-border-radius);
    cursor: pointer;
    display: block;
    font-size: var(--evg-font-size-body-xs);
    font-weight: bold;
    gap: var(--evg-spacing-sm);
    max-width: 13em;
    overflow: hidden;
    padding: var(--evg-spacing-xs) var(--evg-spacing-lg) var(--evg-spacing-xs)
      var(--evg-spacing-sm);
    position: relative;
    text-overflow: ellipsis;
    transition: border-color var(--evg-transition);
    white-space: nowrap;

    locator-icon {
      --evg-icon-size: var(--font-size-base);
      position: absolute;
      right: var(--evg-spacing-sm);
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--_border-color-hover);
      }
    }
  }

  &[variant='positive'] button {
    --_border-color-hover: var(--color-green-dark);
    background: var(--color-green-lightest);
    color: var(--color-green-dark);
  }

  &[variant='negative'] button {
    --_border-color-hover: var(--color-red-dark);
    background: var(--color-red-lightest);
    color: var(--color-red-dark);
  }
}
