/**
 * Search filter for the places header.
 * Sits within locator-header-content-wrap and wraps on small screens.
 */
locator-places-header-search {
  border-top: var(--evg-border);
  display: inline-flex;
  padding: var(--evg-spacing-sm) var(--evg-spacing);
  width: 100%;

  > a {
    align-items: center;
    color: var(--evg-theme-color-muted);
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: calc(var(--evg-spacing-sm) * -1) calc(var(--evg-spacing) * -1);
    padding: var(--evg-spacing-sm) var(--evg-spacing);
    text-decoration: none;
    transition: color var(--evg-transition);

    locator-icon {
      margin-inline-start: auto;
    }
  }

  @media (hover: hover) {
    > a:hover {
      color: var(--evg-theme-color-hover);
    }
  }

  @container (width > 768px) {
    border: var(--evg-border);
    border-radius: var(--evg-border-radius);
    margin-inline-end: var(--evg-spacing);
    width: auto;
    width: 18em;
  }
}
