locator-icon-link {
  display: block;

  a {
    align-items: center;
    color: var(--color-body);
    color: inherit;
    display: flex;
    gap: var(--diamond-spacing-sm);
    text-decoration: none;
    transition: color var(--diamond-transition);

    &:hover,
    &:hover :is(h1, h2, h3, h4, h5) {
      color: var(--diamond-theme-color-hover);
    }
  }

  locator-icon-circle {
    flex-shrink: 0;
    transition: background var(--diamond-transition);

    locator-icon-link:hover & {
      background: var(--color-primary-lightest);
    }
  }

  &[border] {
    a {
      border: solid 1px var(--color-border);
      border-radius: var(--diamond-border-radius);
      padding: var(--diamond-spacing-sm);

      &:hover {
        border-color: var(--diamond-theme-color-hover);
      }
    }
  }
}
