locator-context-header {
  align-items: center;
  background: var(--evg-theme-background);
  border-bottom: var(--evg-border);
  color: var(--evg-theme-color);
  display: grid;
  grid-template-areas: 'content action';
  grid-template-columns: 1fr auto;
  padding: var(--evg-spacing-sm) var(--evg-spacing);
  position: sticky;
  top: var(--header-height);
  transition: color var(--evg-transition);
  z-index: var(--layer-four);

  @container (width > 768px) {
    top: 0;
  }

  &:first-child {
    grid-area: content;
    text-decoration: none;
  }

  &:last-child {
    grid-area: action;
  }

  /* Remove icon buttons size to stop hover effect escaping the container */
  evg-button[variant='ghost'] {
    line-height: 1;

    a,
    button {
      color: var(--color-primary-dark);
      margin: calc(var(--evg-spacing-xs) * -1);
      min-height: 0;
      min-width: 0;
      padding: var(--evg-spacing-xs);
    }
  }
}

@media (hover: hover) {
  a:hover locator-context-header {
    color: var(--evg-theme-color-hover);
  }
}
