locator-highlight {
  background: var(--evg-theme-background-muted, --theme-background-info-muted);
  border-radius: var(--evg-border-radius);
  color: var(--evg-theme-color, --theme-color-info);
  display: inline-block;
  padding: var(--evg-spacing-xs) var(--evg-spacing-sm);
  transition: background var(--evg-transition) color var(--evg-transition);
}
