@keyframes pulse {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

locator-loading-card {
  --_loading-background: color-mix(
    in srgb,
    var(--color-grey-light) 35%,
    var(--color-white)
  );
  background: var(--evg-theme-background);
  border: var(--evg-border-width) var(--evg-border-style)
    var(--_loading-background);
  border-radius: var(--evg-border-radius);
  display: block;
  padding: var(--evg-spacing);

  &::before,
  &::after {
    --_loading-background: color-mix(
      in srgb,
      var(--color-grey-light) 35%,
      var(--color-white)
    );
    animation: pulse 1.5s infinite;
    background: linear-gradient(
      270deg,
      var(--_loading-background) 0%,
      var(--color-grey-lightest) 50%,
      var(--_loading-background) 100%
    );
    background-size: 200% 200%;
    content: '';
    display: block;
    height: calc(var(--font-size-base) * var(--evg-font-line-height));
    margin-bottom: var(--evg-spacing-sm);
    width: 100%;
  }

  &::after {
    margin: 0;
    width: 50%;
  }
}
