locator-loading {
  background: var(--evg-theme-background-muted);
  display: grid;
  place-content: center;
  text-align: center;

  @container (width >= 768px) {
    inset: 0;
    position: absolute;
  }
}
