locator-header {
  align-items: center;
  display: flex;
  width: 100%;

  locator-header-logo {
    align-items: center;
    align-self: stretch;
    border-right: var(--evg-border);
    display: none;
    padding: var(--evg-spacing-sm) var(--evg-spacing);
  }

  @container (width > 768px) {
    locator-header-logo {
      display: flex;
    }
  }

  locator-header-content {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: var(--evg-spacing);
    justify-content: space-between;
    width: 100%;

    locator-header-title {
      flex: 1 1 auto;
      padding: var(--evg-spacing-sm) var(--evg-spacing);
    }

    evg-button[variant='ghost'] {
      line-height: 1;
    }
  }
}
