locator-report-missing-material {
  .locator-report-missing-material__toggle {
    background: transparent;
    border: 0 none;
    color: var(--evg-theme-color);
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    transition: color var(--evg-transition);

    &:hover {
      color: var(--evg-theme-color-hover);
    }
  }
}
