locator-rescue-me-recycle-promo {
  --evg-theme-background: var(--color-green-lightest);

  a {
    background: var(--evg-theme-background);
    border: var(--evg-border-width) var(--evg-border-style) transparent;
    display: block;
    transition: border-color var(--evg-transition);

    &:hover {
      border-color: var(--color-green-dark);
    }
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: min(100%, 15em);
  }
}
