@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

locator-material-search-input {
  --_option-height: calc(
    var(--font-size-base) * var(--evg-font-line-height) +
      (var(--evg-spacing-sm) * 2) + var(--evg-border-width)
  );

  display: flex;
  position: relative;
  width: 100%;

  evg-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: 1 1 auto;
  }

  button[type='submit'] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    flex-shrink: 0;
  }

  button[type='reset'] {
    appearance: none;
    background: transparent;
    border: 0 none;
    color: var(--color-grey);
    cursor: pointer;
    line-height: 1;
    margin-inline-end: var(--evg-spacing-sm);
    padding: 0;
  }

  div[role='listbox'] {
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade;
    animation-timing-function: var(--evg-transition-timing-enter);
    background: var(--evg-theme-background);
    border: var(--evg-border);
    border-radius: var(--evg-border-radius);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    max-height: calc(var(--_option-height) * 4.5);
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: var(--layer-one);

    &[data-headlessui-state='open'] {
      display: block;
    }
  }

  div[role='option'] {
    border-bottom: var(--evg-border);
    cursor: pointer;
    padding: var(--evg-spacing-sm);
    transition:
      background var(--evg-transition),
      color var(--evg-transition);

    &:last-child {
      border-bottom: 0 none;
    }

    &:hover,
    &:focus,
    &[data-headlessui-state^='active'] {
      background: var(--color-primary-light);
    }
  }

  @container (width > 768px) {
    div[role='listbox'] {
      max-height: calc(var(--_option-height) * 6.5);
    }
  }
}
